body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

#articles {
  width: 50%;
  margin: 0 auto;
}

.article {
  border: 1px solid black;
  margin-bottom: 10px;
}

.article h2 {
  margin: 0;
  padding: 5px;
}

.article p {
  margin: 5px;
}

#archive {
  width: 50%;
  margin: 0 auto;
  display: none;
}

.archive h2 {
  margin: 0;
  padding: 5px;
}

.archive p {
  margin: 5px;
}
